html {
    box-sizing: border-box;
    height: 100%;
}

*,
*::before,
*::after {
    box-sizing: inherit;

body {
    display: flex;
    margin: 0;
    height: 100%;
    background-color: #00cae4;
}

h2 {
    margin: 0;
    transform: rotate(-45deg);
    text-shadow: 0 0 5px #01579b;
}

.container {
    margin: auto;
    padding: 1em;
    width: 80%;
}